* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, #app {
  height: 100%;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-background {
  width: 100vw;
  height: 240px;
  position: absolute;
  top: 0px;
  background-color: aquamarine;
}

.main-content {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9;

  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #999;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  position: relative;
}

.profile-container {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.profile {
  width: 48px;
  height: 48px;
  background-color: azure;
  border-radius: 50%;
}

.profile.orange {
  background-color: darkorange;
}

.options {
  display: flex;
}

.options > img {
  width: 24px;
  margin-left: 16px;
  cursor: pointer;
}

.search-container {
  height: 60px;
  width: 100%;
  padding: 8px 20px;
  background-color: rgb(250, 250, 250);
  position: relative;
}

.search-container > input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 48px;
  padding: 0 20px 0 40px;
  font-family: 'Roboto', sans-serif;
}

.search-container > img {
  width: 18px;
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.message-container {
  font-family: 'Roboto', sans-serif;
}

.message-container > h1 {
  font-size: 16px;
}

.message-container > p {
  font-size: 14px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.contact-info > img {
  margin-top: 6px;
  width: 20px;
}

.header-container {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 0;
}

.header-container div:nth-child(1) {
  display: flex;
  align-items: center;
}

.header-container div:nth-child(1) > h1{
  margin-left: 24px;  
  font-size: 18px;
}

.settings-container {
  display: flex;
}

.settings-container > img {
  width: 20px;
  cursor: pointer;
  margin-left: 18px;
}

.chat-message-container {
  margin-top: auto;
  height: 60px;
  width: 100%;
  padding: 8px 20px;
  background-color: rgb(245, 245, 245);
}

.chat-message-container > input{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 48px;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}